@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');

html {
  background-color: #c0dfd9;
}

.App {
  text-align: center;
  overflow: hidden;
}

button {
  margin-left: 8px;
}

p {
  margin: 0;
}

h1 {
  font-size: 3em;
  color: #252839;
  margin: 0;
}

input, button {
  font-family: 'Saira Semi Condensed', sans-serif;
}

input[type="text"], textarea {
  margin-top: 20px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid rgba(25,28,39, 0.8);
  line-height: 2;
  outline: 8;
  text-align:  center;
  margin-left: 5px;
  font-weight: bold;
  color: #252839;
}

input[type="text"]:focus, .btn-search {
  outline: none;
}

.input_country {
  width: 20px;
  text-transform: uppercase;
}

ul {
  padding: 0;
}

.temp-container {
  text-align: center;
  margin-bottom: 50px;
  overflow: auto;
}

.temp-box{
  width: 80%;
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #888888;
}

li {
 list-style-type: none;
 color: #252839;
}

.itens:nth-child(1){
  background-color: #e9ece5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 2em;
}

.itens:nth-child(2){
  background-color: #b3c2bf;
  font-size: 1.5em;
}

.itens:nth-child(3){
  background-color: #252839;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-search{
  background-color: #252839;
  border: 2px #252839 solid;
  border-radius: 5px;
  width: 100px;
  font-weight: bold;
  color: #c0dfd9;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.box-modal {
  background-color: #252839;
  margin: auto;
  margin-top: 50%;
  width: 60%;
  border-radius: 10px;
}

label span {
  color: #252839;
}

.place {
  color: #252839;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #c0dfd9;
  background-color: #252839;
  text-align: center;
}

.footer a {
  color: #9fa8a3;
  text-decoration: none;
}