@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');

.App {
  text-align: center;
}

button {
  margin-left: 8px;
}

p {
  margin: 0;
}

input, button {
  font-family: 'Saira Semi Condensed', sans-serif;
}

input[type="text"], textarea {
  margin-top: 20px;
  background-color: 'white';
  border: 0;
  border-bottom: 1px solid rgba(0,0,0, .08);
  line-height: 2;
  outline: 8;
  padding-left: 8px;
  text-align:  center;
}

ul {
  padding: 0;
}

.header {
  background-color: #ff6358;
  height: 75px;
  width: 100%;
  margin-top: -20px;
}

.header h1{
  display: inline-block;
  line-height: 1.5;
}

.menu-history {
  display: inline-block;
  font-size: 1.5em;
  right: 25px;
  position: absolute;
  cursor: pointer;
  color: #000;
}

.historico {
  background-color: black;
  height: 90vh;
  padding-top: 20px;
}

.box-historico {
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

.temp-container {
  text-align: center;
}

.temp-box{
  width: 80%;
  margin: 10px auto;
}

li {
 list-style-type: none;
 color: white;
}

.itens:nth-child(1){
  background-color: darkblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 2em;
}

.itens:nth-child(2){
  background-color: blue;
  font-size: 1.5em;
}

.itens:nth-child(3){
  background-color: lightblue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}